<div>
    <h2>What We Do</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum laborum consequuntur iste odit doloribus fugiat,
        qui repellendus tenetur unde ex ad laudantium quibusdam. Atque, voluptatem doloribus eaque consequatur
        praesentium blanditiis?
    </p>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum laborum consequuntur iste odit doloribus fugiat,
        qui repellendus tenetur unde ex ad laudantium quibusdam. Atque, voluptatem doloribus eaque consequatur
        praesentium blanditiis?
    </p>
</div>